################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/CMakeSettings.json
/etc/scripts/release_token
/cmake/dev_settings.cmake
/osx_tarballs
